<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
<link rel="stylesheet" href="../../../static/bootstrap.css" type="text/css" media="screen"/>
<link rel="stylesheet"  href="{{ url_for( 'static', filename='style.css')}}" type="text/css" media="screen"/>

<!--[if lte IE 8]>
<link rel="stylesheet"  href="menuie.css" type="text/css" media="screen"/>
<link rel="stylesheet"  href="vmenuie.css" type="text/css" media="screen"/>
<![endif]-->
<script type="text/javascript" src="sort/nout1/templates/prefixfree.min.js">
</script>
<script type="text/javascript" src="totop.js">
</script>

</head>
<body class="Index">
<a href="#" class="back-to-top"><img alt="Back to Top" src="../static/images/gototop.png"/></a>
<header id="ttr_header">
<div id="ttr_header_inner">
<div class="ttr_title_position">
<h1 class="ttr_title_style ">
<a href="#">
Милые животные
</a>
</h1>
</div>
</div>
</header>

<nav id="ttr_menu" class="navbar-default navbar">
   <div id="ttr_menu_inner_in">
<div class="menuforeground">
</div>
<div id="navigationmenu">
<div class="navbar-header">
<button id="nav-expander" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
<span class="sr-only">
</span>
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
</button>
</div>
<div class="menu-center collapse navbar-collapse">
<ul class="ttr_menu_items nav navbar-nav nav-justified">
<li class="ttr_menu_items_parent dropdown active"><a href="../../" class="ttr_menu_items_parent_link_active"><span class="menuchildicon"></span>Home
<hr class ="horiz_separator"/></a>
</li>
<li class="ttr_menu_items_parent dropdown"><a href='/from_us' class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>About Us
<hr class ="horiz_separator"/></a>
</li>
<li class="ttr_menu_items_parent dropdown"><a href="#" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Services
<hr class ="horiz_separator"/></a>
</li>
<li class="ttr_menu_items_parent dropdown"><a href="#" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Blog
<hr class ="horiz_separator"/></a>
</li>
<li class="ttr_menu_items_parent dropdown"><a href="#" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Support
<hr class ="horiz_separator"/></a>
</li>
<li class="ttr_menu_items_parent dropdown"><a href="#" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Contact</a>
</li>
</ul>
</div>
</div>
</div>
</nav>

      <div class="post_column col-lg-3 col-md-6 col-sm-6 col-xs-12">
         <div class="ttr_Index_html_column20">
            <div class="html_content" style="font-family:Times New Roman;font-size:12px;"><p><img src={{ img2 }} style="width:328px;height:252px;margin:0px 0px 0px 0px;font-family:Times New Roman;font-size:12px;" /></p></div>
         </div>
      </div>
    <div class="post_column col-lg-3 col-md-6 col-sm-6 col-xs-12">
         <div class="ttr_Index_html_column20">
            <div class="html_content" style="font-family:Times New Roman;font-size:12px;"><p><img src={{ img }} style="width:328px;height:252px;margin:0px 0px 0px 0px;font-family:Times New Roman;font-size:12px;" /></p></div>
         </div>
      </div>
      <div class="clearfix visible-xs-block">
      </div>
      <div class="post_column col-lg-3 col-md-6 col-sm-6 col-xs-12">
         <div class="ttr_Index_html_column21">
            <div class="html_content" style="font-family:Times New Roman;font-size:12px;">
               <p style="margin:10px 0px 0px 0px;text-align:Center;line-height:13px;font-family:Times New Roman;font-size:12px;">
                  <span style="font-family:&quot;Monotype Corsiva&quot;;font-style:italic;font-size:24px;color:#4E4E4E;">{{ data[0] }}</span></p>
               <p style="margin:10px 0px 0px 0px;text-align:Center;line-height:22px;font-family:Times New Roman;font-size:12px;"><span style="font-family:&quot;Microsoft Tai Le&quot;;font-size:14px;color:#959595;">{{ data[3] }}</span></p>
                <p style="margin:10px 0px 0px 0px;text-align:Center;line-height:22px;font-family:Times New Roman;font-size:12px;"><span style="font-family:&quot;Microsoft Tai Le&quot;;font-size:14px;color:#959595;">{{ data[4] }}</span></p>

                <p style="text-align:Center;font-family:Times New Roman;font-size:12px;"><br /></p>
               <p style="text-align:Center;font-family:Times New Roman;font-size:12px;">
                  <span><button onclick="location.href='/user'" target='_self ' type='button' class=' btn btn-default'>Купить</button></span>

<div class="clearfix visible-xs-block">
                <h1>{{ u }}</h1>

    <p>{{ myfunction() }}</p>

    <a href="">go home...</a>
      </div>


</body>
</html>